div.frame {
  margin: auto;
  margin-top: 10%;
  width: 900px;
  border-style: double;
  background-color: aliceblue;
}

.blog {
  background-color: burlywood;
  border-radius: 20px;
  width: 50%;
  min-height: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 70px;
  position: relative;
  border-collapse: collapse;
}

.header {
  background-color: paleturquoise;
  padding: 20px;
  text-align: center;
}

body {
  background-image: url("../images/DSC02463.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 100%;
  margin: 0%;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(55, 55, 55, 1);
  height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 16;
}

.left {
  float: left;
  border-right: 1px solid #bbb;
  padding-left: 50px;
}

.block {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  height: 300px;
}

div a:hover:not(.active) {
  background-color: #4CAF50;
}

.active {
  border-right: 1px solid #bbb;
  background-color: #4CAF50;
  float: right;
}

.blog-h1{
  width: 400px;
  margin: auto;
  color: white;
  padding-top: 10px;
}

.user-h1{
  width: 150px;
  margin: auto;
  color: white;
  padding-top: 10px;
}

.footer {
  background-color: rgba(176, 196, 222, 0.7);
  color: black;
  padding: 5px;
  text-align: center;
}

.button {
  border-radius: 10px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: 100px;
}

.button-blue {
  background-color: #008CBA;
  color: black; 
  border: 2px solid white;
}

.button-blue:hover {
  background-color: white;
  color: #008CBA;
}

.button-red {
  background-color: #f44336; 
  color: black; 
  border: 2px solid white;
}

.button-red:hover {
  background-color: white;
  color: #f44336;
}

td,th{
  padding: 10px;
  text-align: center;
}

tr:nth-child(odd){background-color: sandybrown}