<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Blog</title>
        <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script> -->
       
        <link rel="stylesheet" href="../static/css/1.css">
        


    </head> 
    
    <body>

            <div>
             <table class="class">
                <tr><th class="padding" style="">Title</th><td >About mew</td></tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr><th class="padding">Username</th><td style="color: blue;">zoumunan</td>
                </tr><tr><td colspan="2"><hr></td></tr>
                <tr><th class="padding">Countent</th><td style="width: 250px ;">Mew is one of the fictional species of
                    creatures from Nintendo's and Game Freak's Pokémon media franchise cre
                    ated by Satoshi Tajiri. Mew is a small,pink, cat-like, Psychic-type Mythical Pokémon?</td></tr> 
             </table>
            </div>  
            <div>
             <table class="class">
                <tr><th>Title</th><td>About mew</td></tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr><th>Username</th><td style="color: blue;">zoumunan</td></tr>
                <tr><td colspan="2"><hr></td></tr>
                <tr><th>Countent</th><td>Mew</td></tr> 
             </table> 
            </div>
       
    </body>
</html>