<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Blog</title>
	<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
          integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
          crossorigin="anonymous"></script> -->
	<link rel="stylesheet" href="css/blog.css">

</head>

<body>
	<div id="header">
		<div><a class="block active" href="/register">Register</a></div>
		<div><a class="block active" href="/login">Login</a></div>
		<div>
			<h1 class="blog-h1">Welcome to the Blog</h1>
		</div>
	</div>
	<br>
	</div>
	<br>
	<div style="margin-bottom: 70px" th:each="blog:${blogs}">
		<table class="blog">
			<tr>
				<th><span th:text="${blog.title}"></span></th>
			</tr>
			<tr>
				<td><span th:text="${blog.content}"></span></td>
			</tr>
		</table>
	</div>
	<!--<div class="footer">
		<p>© 2022 作成されました</p>
	</div>-->
</body>

</html>